openapi: 3.0.3
info:
  title: Smartproxy Authentication Subscriptions API
  description: The Smartproxy API (now also known as Decodo) provides programmatic access to manage proxy accounts, sub-users, traffic limits, IP whitelisting, and endpoint discovery for residential, datacenter, and mobile proxy services. The API enables automated proxy user management, traffic reporting, and endpoint configuration for web data collection at scale.
  version: 1.0.0
  termsOfService: https://smartproxy.com/terms-of-service
  contact:
    name: Smartproxy Support
    url: https://help.smartproxy.com/
  license:
    name: Smartproxy API License
    url: https://smartproxy.com/terms-of-service
servers:
- url: https://api.decodo.com/v1
  description: Smartproxy/Decodo API v1
security:
- ApiKeyAuth: []
tags:
- name: Subscriptions
  description: View subscription details and limits
paths:
  /users/{userId}/subscriptions:
    get:
      operationId: getSubscriptions
      summary: Get Subscriptions
      description: Retrieves the user's active subscription details including plan limits and validity dates.
      tags:
      - Subscriptions
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscription'
components:
  schemas:
    Subscription:
      type: object
      properties:
        id:
          type: string
        plan_name:
          type: string
          description: Subscription plan name
        service_type:
          type: string
          enum:
          - residential
          - datacenter
          - mobile
          - isp
        status:
          type: string
          enum:
          - active
          - expired
          - cancelled
        traffic_limit:
          type: number
          description: Total GB included in plan
        traffic_used:
          type: number
          description: Total GB consumed this billing period
        valid_from:
          type: string
          format: date
        valid_until:
          type: string
          format: date
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key obtained via the /auth endpoint
